ul.nav.nav-pills
	li: a(href="/admin") Admin Index
ul.nav.nav-pills
	li: a(href="/admin/article/list") List Articles
	li: a(href="/admin/article/add") Add Article
ul.nav.nav-pills
	li: a(href="/admin/topic/list") List Topics
	li: a(href="/admin/topic/add") Add Topic