extends ../layout

block content
	script(src="/javascripts/comment.js")
	p COMMENTS!	
	div.container.text-center
		a(href="#" onclick="window.close();")
			i.glyphicon.glyphicon-remove 
			|  close window
		br
		br