extends ../../layout

block content
	form
		input(type="hidden" value="#{user._id}" id="uid")
		| login name: 
		input(type="text" value="#{user.login}" id="userlogin")
		br
		| user name: 
		input(type="text"  value="#{user.name}" id="username")
		br
		input(type="button" value="update" onclick="updateuser();")
		hr
		| reset pass
		input(type="text" id="pass")
		input(type="button" value="reset password" onclick="resetpass();")
		| #{user.secgroups} 
	div.result
	script(src="/javascripts/siteadmin.js")
		