extends ../layout

block content
	script(src="/javascripts/marked.js")
	script(src="/javascripts/preview.js")
	div#contentdiv Please close and reopen via 'Preview Button'
	
	div.container.text-center
		a(href="#" onclick="window.close();")
			i.glyphicon.glyphicon-remove 
			|  close window
		br
		br