extends layout


block content
  h3 Login
  br
  form.form-horizontal(method="POST" action="/login")
    .form-group
      .col-md-offset-5
      .col-md-2.col-md-offset-5
        input.form-control(type="text" name="login" placeholder="Login name")
    .form-group
      .col-md-offset-5
      .col-md-2.col-md-offset-5
        input.form-control(type="password" name="password" placeholder="Password")
    .form-group
      .col-md-offset-5
      .col-md-2.col-md-offset-5
        input.form-control(type="submit" name="submit" value="Login")